/* =============== FILTR =============== */

/* Здесь не применяется выбор шрифта из body в commons.css, только при прямом выборе шрифта в классе */
.filtr-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: #f5f4fa;
}

.filtr-btn:hover,
.filtr-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-background);
}

/* =============== PROJECTS =============== */

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.projects-kind {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
